<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/main/faqPage.css}"/>
</head>
<body>
    <div th:replace="/user/common/header.html"></div>
    <div class="banner">
        <div class="img_cover"></div>
        <div class = header_text>
            <h1>일상의 새로운 가능성을 그려가는 곳
                ECOECO 도움말센터입니다</h1>
        </div>
        <div class="header_banner">
            <img src="../../../static/images/user/main/faq_page_banner.png">
        </div>
    </div>


    <div class="all-box">
        <button class="box1">
            <img class="box1_image" src="../../../static/images/user/main/supporter_icon.png">
            <p class="box-text">서포터</p>
        </button>
        <button class="box2">
            <img class="box2_image" src="../../../static/images/user/main/maker_icon.png">
            <p class="box-text">메이커</p>
        </button>
    </div>

</body>
</html>