.banner {
    position: relative;
    background-repeat: no-repeat;

    max-width: 1440px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
.header_banner {
    max-width: 1440px;
    height: 200px;
    background-image: url("../image/FAQ_PAGE_banner.png");
    background-size: cover;
}
.header_banner img {
    width: auto;
    height: 100%;
}
.header_text {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 1000px;
    height: 500px;
    color: rgb(225, 225, 225);
    font-size: 50px;
    text-align: center;
    z-index: 2;
}
.img_cover {
    background-image: url("../image/cover.png");
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
    height: 300px;
    max-width: 1440px;
    z-index: 1;
}

.all-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 60px;
}
.box1, .box2 {
    background-color: rgb(195, 250, 236);
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 20px;
    width: 400px;
    height: 200px;
    display: block;
    margin: 0 2.5%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box1_image, .box2_image {
    width: 80px;
    padding-top: 25px;
}
.box-text {
    font-size: 30px;
    margin-top: 20px;
    color: rgb(30, 109, 89);
}

/* 상단 이미지 */
.img_banner {
    position: relative;
    background-repeat: no-repeat;                           /* 이미지 반복설정 : 하지않음 */
    height: 500px;
    max-width: 1440px;                                 /* 이미지 사이즈 : 모두 덮도록 자동으로 이미지를 확대/축소 */
}

