<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/user/common/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/user/main/main.css}"/>
  <title>메인 페이지</title>
</head>
<body>
<div th:replace="/user/common/header.html"></div>
<div class="container">
  <img src="/images/user/main/main_banner.png" alt="메인 배너">
  <h3 class="ingtitle">진행중인 프로젝트</h3>

  <div class="inglists">
    <div class="item">
      <img src="/images/user/main/city1.png" alt="상세이미지">
      <p class="text1">25,564% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/flower1.png" alt="상세이미지">
      <p class="text1">3,710% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/flower2.png" alt="상세이미지">
      <p class="text1">1,027% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/city1.png" alt="상세이미지">
      <p class="text1">15,867% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
  </div>

  <a href="">
    <div class="soon_banner">
      <img class="soon_cover" src="/images/user/main/cover.png" alt="나무커버이미지">
      <img class="soon_img" src="/images/user/main/main_tree_banner.png" alt="나무이미지">
      <p class="soon_text1">오픈예정된 프로젝트가 궁금하다면?</p>
      <p class="soon_text2">바로가기!</p>
      <p class="soon_text3">펀딩의 새로운 세계로! 다가오는 프로젝트를 발견하세요!</p>
    </div>
  </a>

  <h3 class="populartitle">인기 프로젝트</h3>
  <div class="popularlists">
    <div class="item">
      <img src="/images/user/main/city1.png" alt="인기프로젝트 이미지">
      <p class="text1">25,564% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/city1.png" alt="인기프로젝트 이미지">
      <p class="text1">3,710% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/city1.png" alt="인기프로젝트 이미지">
      <p class="text1">1,027% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/city1.png" alt="인기프로젝트 이미지">
      <p class="text1">15,867% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
  </div>

  <h3 class="newtitle">신규 프로젝트</h3>
  <div class="newlists">
    <div class="item">
      <img src="/images/user/main/city1.png" alt="신규프로젝트 이미지">
      <p class="text1">25,564% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/city1.png" alt="신규프로젝트 이미지">
      <p class="text1">3,710% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/city1.png" alt="신규프로젝트 이미지">
      <p class="text1">1,027% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/city1.png" alt="신규프로젝트 이미지">
      <p class="text1">15,867 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
  </div>

  <h3 class="deadlinetitle">마감 프로젝트</h3>
  <div class="deadlinelists">
    <div class="item">
      <img src="/images/user/main/city1.png" alt="마감프로젝트 이미지">
      <p class="text1">25,564% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/city1.png" alt="마감프로젝트 이미지">
      <p class="text1">3,710% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/city1.png" alt="마감프로젝트 이미지">
      <p class="text1">1,027% 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
    <div class="item">
      <img src="/images/user/main/city1.png" alt="마감프로젝트 이미지">
      <p class="text1">15,867 달성</p>
      <p class="text2">제품 설명</p>
      <p class="text3">메이커</p>
    </div>
  </div>

</div>
<div th:replace="/user/common/footer.html"></div>
</body>
</html>